﻿
@model Aztech.Models.AppUser
@{
    ViewBag.Title = "Add Admin";
}


@section PageName{
    Add Admin
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Create Admin</div>
<br />
<br />



<div style="margin-left:20%">

    <form method="post" asp-action="AddAdmin" asp-controller="NewAdmin">
        <table style="margin-left: 15%">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>

            </tr>
            <tr>
                <td>
                    <input type="text" asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </td>
                <td>
                    <input type="text" asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </td>

                <td>
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </td>
                <td>
                    <input type="hidden" asp-for="Password" value="Default" />
                </td>


        </table>

        <input type="hidden" asp-for="Type" />
        <input type="hidden" asp-for="Company" value="Default" />
        <div asp-validation-summary="All"></div>
        <input style="margin-left: 35%; margin-top: 5%" class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>