﻿@model IEnumerable<Aztech.Models.IdentityModel>

@{
    ViewBag.Title = "All Admins";
}

@section PageName{
    All Admins
}


<br />
<br />
<br />
<br />
<div style="text-align: center" class="display-4">Admins</div>

<br />
<br />
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>Remove</th>
        </tr>
    </thead>
    @foreach (IdentityModel admin in Model)
    {

        <tbody>
            <tr>
                <td>@admin.Email</td>
                <td><a class="btn btn-dark text-white" asp-action="DeleteAdmin" asp-controller="NewAdmin" asp-route-id="@admin.Id">Delete Admin</a></td>
            </tr>
        </tbody>

    }
</table>
