﻿@model IEnumerable<Aztech.Models.PartModel>


@{
    ViewBag.Title = "Parts";
}

@section PageName {
    Parts
}

@{


    <div class="jumbotron">
        <div style="text-align: center">
            @foreach (PartModel part in Model)
            {
                <a asp-action="ViewPart" asp-controller="Parts" asp-route-id="@part.Id">@part.Name</a>

                <br />
            }
        </div>
    </div>
}