﻿@model Aztech.Models.PartDTO

@{ 
    ViewBag.Title = "Create Part"; 
}

@section PageName {
    Create Part
}


<div class="jumbotron">
    <form style="margin-left: 40%" method="post" asp-action="CreatePart" asp-controller="Parts" enctype="multipart/form-data">

        <div>
            <label>Part Name</label>
            <input type="text" asp-for="@Model.Name" />
        </div>

        <br />

        <div>
            <label>Price Table</label>
            <input type="file" asp-for="@Model.Table" />
        </div>

        <br />
        <input style="margin-left: 10%" type="submit" value="submit" />
    </form>
</div>