﻿@model Aztech.Models.PartModel
@using Microsoft.AspNetCore.Identity;

@{
    ViewBag.Title = Model.Name;
}

@section PageName {
    @Model.Name
}

@{


    string[][] cells = Model.GetTableArray();


    <table class="table table-bordered table-striped table-lg table-hover">
        <thead>
            <tr>
                <th>Qty</th>
                <th>Price Ea</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < cells.Length; i++)
            {
                <tr>
                    <td>@cells[i][0]</td>
                    <td>@cells[i][1]</td>
                </tr>
            }
        </tbody>

    </table>

    @inject UserManager<IdentityModel> userManager;
    IdentityModel user = await userManager.GetUserAsync(User);
    if (user.UserAuthority > 2)
    {
        <a style="margin-left: 45%; margin-top: 10%" class="btn btn-primary text-white" asp-action="DeletePart" asp-controller="Parts" asp-route-Id="@Model.Id">Delete @Model.Name</a>
    }
}
