﻿@model IEnumerable<Aztech.Models.AppUser>
@using Aztech.Models

@{
    ViewBag.Title = "Home";
}

@section PageName{
    Home
}

<div style="text-align: center"><span class="display-4">Customers</span></div>
<br />
<div class="content-wrapper bg-light">
    <div class="navbar container-fluid">
        <span>Filter &nbsp; &nbsp; <i class="fas fa-search"></i></span>
        <input style="width: 10%; display: inline;" type="text" id="firstName" class="form-control" placeholder="First Name" />
        <input style="width: 10%; display: inline;" type="text" id="lastName" class="form-control" placeholder="Last Name" />
        <input type="text" style="width: 10%; display: inline;" class="form-control" placeholder="Company" id="company" />
        <input style="width: 10%; display: inline;" class="form-control" placeholder="Email" type="text" id="email" />
        <button id="resetButton" class="btn btn-primary" type="button">
            Reset
        </button>
    </div>
</div>

<table class="table table-bordered" id="CustomerTable">
    <thead>
        <tr>
            <th> </th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Company</th>
            <th>Email</th>
            <th>Customer Id</th>
            <th>Rep Id</th>
            <th>First Login</th>
            <th>Last Login</th>
            <th>Add Data</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        <tbody id="customerTableBody">
            @foreach (AppUser customer in @Model)
            {

                <tr>
                    <td><a asp-action="EnterSimulation" asp-controller="Account" asp-route-appUserId="@customer.AppUserId" class="btn btn-sm btn-dark">Simulate</a></td>
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <td>@customer.Company</td>
                    <td>@customer.Email</td>
                    <td>@customer.AppUserId</td>
                    @if (customer.RepId != null)
                    {
                        <td>@customer.RepId</td>
                    }
                    else
                    {
                        <td></td>

                    }
                    @if (customer.FirstLogin != null)
                    {
                        <td>@customer.FirstLogin</td>
                    }
                    else
                    {
                        <td>N/A</td>

                    }
                    @if (customer.LastLogin != null)
                    {
                        <td>@customer.LastLogin</td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }
                    <td>
                        <a class="btn btn-dark btn-sm" asp-action="AddDataPage" asp-controller="AddData" asp-route-appUserId="@customer.AppUserId">Add Data</a>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>


<script>
    let tableBody = document.getElementById("customerTableBody");
    let rows = tableBody.children;
    let records = [];
    if (rows.length > 0) {

        for (let i = 0; i < rows.length; i++) {

            records.push(rows[i]);
        }
    }

    let firstI = document.getElementById('firstName');
    let lastI = document.getElementById('lastName');
    let companyI = document.getElementById('company');
    let emailI = document.getElementById('email');

    firstI.addEventListener('input', function () { filterCustomerTable() });
    lastI.addEventListener('input', function () { filterCustomerTable() });
    companyI.addEventListener('input', function () { filterCustomerTable() });
    emailI.addEventListener('input', function () { filterCustomerTable() });

    let firstPos = 1;
    let lastPos = 2;
    let companyPos = 3;
    let emailPos = 4;

    let resetButton = document.getElementById("resetButton");
    resetButton.addEventListener("click", function () { resetFilters(); });

    function resetFilters() {
        firstI.value = "";
        lastI.value = "";
        company.value = "";
        email.value = "";

        filterCustomerTable();
    }

    function filterCustomerTable() {
        let firstText = firstI.value.toLowerCase();
        let lastText = lastI.value.toLowerCase();
        let companyText = company.value.toLowerCase();
        let emailText = emailI.value.toLowerCase();
        let emailReg = /.*?@@(.*?)\./;

        let visible = true;

        for (let element of records) {
            let first = element.children[firstPos];
            if (!first.textContent.toLowerCase().startsWith(firstText) && firstText != "") {
                visible = false;
            }

            let last = element.children[lastPos];
            if (!last.textContent.toLowerCase().startsWith(lastText) && lastText != "") {
                visible = false;
            }

            let company = element.children[companyPos];
            if (!company.textContent.toLowerCase().startsWith(companyText) && companyText != "") {
                visible = false;
            }

            let email = element.children[emailPos];
            let emailVal = email.textContent.toLowerCase();
            if (emailText != "") {
                emailVal = emailReg.exec(emailVal)[1];
                if (!emailVal.startsWith(emailText)) {
                    visible = false;
                }
                emailReg.lastIndex = 0;
            }


            if (visible == false) {
                element.style.display = 'none';
                visible = true;
            }
            else {
                element.style.display = '';
            }
        }
    }

</script>