﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
        <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
        <script src="node_modules/bootstrap/dist/jquery.js"></script>
        <script src="node_modules/popper.js/dist/popper.js"></script>*@

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        nav a, div a {
            color: white;
            margin-top: 20%;
            font-size: large;
            margin-right: 2%;
        }

        nav {
            padding-left: 5%;
            padding-top: 2%;
            padding-bottom: 2%;
        }
    </style>
</head>
<body style="background-color: white; height: 100%; width: 100%">
    <div style="margin-top: 5%; margin-left: 5%; background-color: white; height: 100%; margin-bottom: 0px">
        <nav class="navbar" style="background-color: #ACB0AF; margin-bottom: 0px">
            <span class="navbar-left" style="margin-right: 10%; margin-bottom: 0px"><a style="font-size: x-large" asp-action="Index" asp-controller="Home"><img src="~/earlMilton.jpg" style="width: 5%; height: 5%; margin-bottom: 0px" /></a></span>


            @*@if (User.Identity.IsAuthenticated)
            {
                @inject Microsoft.AspNetCore.Identity.UserManager<Aztech.Models.IdentityModel> userManager;
                Aztech.Models.IdentityModel user = await userManager.GetUserAsync(User);
                @if (user.UserAuthority > 1 && user.SimulationCode == -1)
                {

                    <a asp-action="Index" asp-controller="Home">Home&nbsp;</a>
                    @if (!ViewBag.Title.Equals("Add Customer"))
                    {
                        <a asp-action="AddCustomer" asp-controller="NewCustomer">Create Customer Account&nbsp;</a>

                    }
                    @if (user.UserAuthority == 2)
                    {
                        <a asp-action="ModifyAdminAccount" asp-controller="AdminModifyAccount">&nbsp;Update Account Information &nbsp;</a>
                    }
                    @if (user.UserAuthority > 2)
                    {
                        if (!ViewBag.Title.Equals("Add Admin"))
                        {
                            <a asp-action="AddAdmin" asp-controller="NewAdmin">Create Admin Account&nbsp;</a>
                        }
                        if (!ViewBag.Title.Equals("All Admins"))
                        {
                            <a asp-action="GetAdmins" asp-controller="NewAdmin">All Admins</a>
                        }

                        if (!ViewBag.Title.Equals("Create Part"))
                        {
                            <a asp-controller="Parts" asp-action="CreatePart">Create Part</a>
                        }
                    }

                }
                else if (user.UserAuthority > 1)
                {
                    <a asp-action="ExitSimulation" asp-controller="Account">Exit Simulation&nbsp;</a>
                    <a asp-action="Index" asp-controller="Home">Open Orders </a>
                    <a asp-action="ShipmentsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode">Shipments&nbsp;</a>
                    <a asp-action="InvoicesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode">Invoices&nbsp;</a>
                    <a asp-action="PartsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode">Part Activity&nbsp;</a>
                    <a asp-action="QuotesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode">Quotes&nbsp;</a>
                }

                else
                {
                    <a asp-action="Index" asp-controller="Home">Open Orders </a>
                    <a asp-action="ShipmentsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Shipments&nbsp;</a>
                    <a asp-action="InvoicesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Invoices &nbsp;</a>
                    <a asp-action="PartsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Part Activity&nbsp;</a>
                    <a asp-action="QuotesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Quotes&nbsp;</a>
                    <a asp-action="ModifyCustomerAccount" asp-controller="CustomerModifyAccount">Update Acount&nbsp;</a>
                }

                <a asp-action="AllParts" asp-controller="Parts">View Part Prices</a>
                <a asp-action="Logout" asp-controller="Account">Sign Out&nbsp;</a>
            }*@
        </nav>
        <div style="height: 90vh; background-color: #ACB0AF; width: 8%; font-size: large; float: left; margin-top: 0px; padding-left: 1%" class="text-white linke-white">

            <br /><br /><br /><br /><br /><br />
            @if (User.Identity.IsAuthenticated)
            {
                @inject Microsoft.AspNetCore.Identity.UserManager<Aztech.Models.IdentityModel> userManager;
                Aztech.Models.IdentityModel user = await userManager.GetUserAsync(User);
                @if (user.UserAuthority > 1 && user.SimulationCode == -1)
                {

                    <a asp-action="Index"  asp-controller="Home">Home</a> <br /><br />
                    @if (!ViewBag.Title.Equals("Add Customer"))
                    {
                        <a asp-action="AddCustomer" asp-controller="NewCustomer">Create Customer</a><br /><br />

                    }
                    @if (user.UserAuthority == 2)
                    {
                        <a asp-action="ModifyAdminAccount" asp-controller="AdminModifyAccount">&nbsp;Update Account</a><br /><br />
                    }
                    @if (user.UserAuthority > 2)
                    {
                        if (!ViewBag.Title.Equals("Add Admin"))
                        {
                            <a asp-action="AddAdmin" asp-controller="NewAdmin">Create Admin</a><br /><br />
                        }
                        if (!ViewBag.Title.Equals("All Admins"))
                        {
                            <a asp-action="GetAdmins" asp-controller="NewAdmin">All Admins</a><br /><br />
                        }

                        @*if (!ViewBag.Title.Equals("Create Part"))
                        {
                            <a asp-controller="Parts" asp-action="CreatePart">Create Part</a><br /><br />
                        }*@
                    }

                }
                else if (user.UserAuthority > 1)
                {
                    <a asp-action="ExitSimulation" asp-controller="Account">Exit <br /> Simulation&nbsp;</a><br /><br />
                    <a asp-action="Index" asp-controller="Home">Open Orders </a> <br /><br />
                    <a asp-action="ShipmentsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode">Shipments</a><br /><br />
                    <a asp-action="InvoicesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode">Invoices</a><br /><br />
                    <a asp-action="PartsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode">Part Activity</a><br /><br />
                    <a asp-action="QuotesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode">Quotes</a><br /><br />
                }

                else
                {
                    <a asp-action="Index" asp-controller="Home">Open Orders </a><br /><br />
                    <a asp-action="ShipmentsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Shipments;</a><br /><br />
                    <a asp-action="InvoicesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Invoices</a><br /><br />
                    <a asp-action="PartsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Part Activity</a><br /><br />
                    <a asp-action="QuotesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Quotes</a><br /><br />
                    <a asp-action="ModifyCustomerAccount" asp-controller="CustomerModifyAccount">Update Acount</a><br /><br />
                }

                @*<a asp-action="AllParts" asp-controller="Parts">View Part Prices</a><br /><br />*@
                <a asp-action="Logout" asp-controller="Account">Sign Out</a><br /><br />
            }
        </div>
        <div style="margin-left: 8%; height: 90vh">
            <br /><br />
            <h1 class="display-3 text-primary" style="text-align: center;">
                @RenderSection("PageName", true)
            </h1>

            <br /><br /><br /><br />

            @RenderBody()
        </div>
    </div>
</body>
</html>
