﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Dashboard</title>
    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="../vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="index.html">Earl Milton</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Navbar -->
        <ul class="navbar-nav ml-auto ml-md-0"></ul>
    </nav>
    <li id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
            @if (User.Identity.IsAuthenticated)
            {
                @inject Microsoft.AspNetCore.Identity.UserManager<Aztech.Models.IdentityModel> userManager;
                Aztech.Models.IdentityModel user = await userManager.GetUserAsync(User);
                @if (user.UserAuthority > 1 && user.SimulationCode == -1)
                {

                    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home"> <i class="fas fa-home"></i>&nbsp;Home</a></li>
                    @if (!ViewBag.Title.Equals("Add Customer"))
                    {
                        <li class="nav-item"><a class="nav-link" asp-action="AddCustomer" asp-controller="NewCustomer"><i class="fas fa-user-plus"></i>&nbsp;Create Customer</a></li>

                    }
                    @if (user.UserAuthority == 2)
                    {
                        <li class="nav-item"><a class="nav-link" asp-action="ModifyAdminAccount" asp-controller="AdminModifyAccount"><i class="fas fa-user-edit"></i>&nbsp;Update Account</a></li>
                    }
                    @if (user.UserAuthority > 2)
                    {
                        if (!ViewBag.Title.Equals("Add Admin"))
                        {
                            <li class="nav-item"><a class="nav-link" asp-action="AddAdmin" asp-controller="NewAdmin"><i class="fas fa-user-shield"></i>&nbsp;Create Admin</a></li>
                        }
                        if (!ViewBag.Title.Equals("All Admins"))
                        {
                            <li class="nav-item"><a class="nav-link" asp-action="GetAdmins" asp-controller="NewAdmin"><i class="fas fa-users"></i>&nbsp;All Admins</a></li>
                        }

                        @*if (!ViewBag.Title.Equals("Create Part"))
                            {
                                <a asp-controller="Parts" asp-action="CreatePart">Create Part</a><br /><br />
                            }*@
                    }

                }
                else if (user.UserAuthority > 1)
                {
                    <li class="nav-item"><a class="nav-link" asp-action="ExitSimulation" asp-controller="Account"><i class="fas fa-times-circle"></i>&nbsp;Exit Simulation</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="Index" asp-controller="Home"><i class="fas fa-box-open"></i>&nbsp;Open Orders </a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="ShipmentsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode"><i class="fas fa-truck"></i>&nbsp;Shipments</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="InvoicesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode"><i class="fas fa-file-invoice"></i>&nbsp;Invoices</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="PartsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode"><i class="fas fa-cogs"></i>&nbsp;Part Activity</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="QuotesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.SimulationCode"><i class="fas fa-quote-right"></i>&nbsp;Quotes</a></li>
                }

                else
                {
                    <li class="nav-item"><a class="nav-item" asp-action="Index" asp-controller="Home"><i class="fas fa-box-open"></i>&nbsp;Open Orders </a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="ShipmentsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId"><i class="fas fa-truck"></i>&nbsp;Shipments;</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="InvoicesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId">Invoices</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="PartsTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId"><i class="fas fa-cogs"></i>&nbsp;Part Activity</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="QuotesTable" asp-controller="CustomerTables" asp-route-appUserId="@user.AppUserId"><i class="fas fa-quote-right"></i>&nbsp;Quotes</a></li>
                    <li class="nav-item"><a class="nav-link" asp-action="ModifyCustomerAccount" asp-controller="CustomerModifyAccount"><i class="fas fa-user-edit"></i>&nbsp;Update Acount</a></li>
                }

                @*<a asp-action="AllParts" asp-controller="Parts">View Part Prices</a><br /><br />*@
                <li class="nav-item"><a class="nav-link" asp-action="Logout" asp-controller="Account"><i class="fas fa-sign-out-alt"></i>&nbsp;Sign Out</a></li>
            }
    </ul>

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span>Dashboard</span>
                </li>
                <li class="breadcrumb-item active">@RenderSection("PageName")</li>
            </ol>

            <!-- /.container-fluid -->
            <div>

                @RenderBody()

            </div>


            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Your Website 2019</span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.content-wrapper -->
    </div>
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../vendor/chart.js/Chart.min.js"></script>
    <script src="../vendor/datatables/jquery.dataTables.js"></script>
    <script src="../vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>
    <!-- Demo scripts for this page-->
    <script src="../js/demo/datatables-demo.js"></script>
    <script src="../js/demo/chart-area-demo.js"></script>
</body>
</html>
