﻿@model int

@{
    ViewBag.Title = "Add Customer Data";
}

@section PageName{
    Add Data For User @Model
}


<br />
<br />
<br />
<br />
<br />
<br />

<div style="text-align: center" class="display-4">Add Data</div>

<br />
<br />
<br />

<div style="text-align: center">
    <a class="btn btn-dark btn-block" asp-action="AddOpenPartOrder" asp-route-appUserId="@Model">Add Open Order</a>
    <a class="btn btn-dark btn-block" asp-action="AddShipment" asp-route-appUserId="@Model">Add Shipment</a>
    <a class="btn btn-dark btn-block" asp-action="AddQuote" asp-route-appUserId="@Model">Add Quote</a>
</div>