﻿@model Aztech.Models.OpenPartOrder

@{
    ViewBag.Title = "Add Open Order";
}

@section PageName {
    Add Open Part Order: User @Model.AppUserId
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Add Open Order</div>
<br />
<br />


<form method="post" asp-action="AddOpenPartOrder">
    <table>
        <thead>
            <tr>
                <th>PO#</th>
                <th>Sales Order#</th>
                <th>Expected Ship Date</th>
                <th>Part</th>
                <th>Part Description</th>
                <th>Custom Part Number</th>
                <th>Qty Shipped</th>
                <th>Price Each</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="hidden" asp-for="@Model.AppUserId" />
                    <input type="text" asp-for="@Model.PONum" />
                    <span asp-validation-for="@Model.PONum"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.SalesOrderNum" />
                    <span asp-validation-for="@Model.SalesOrderNum"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.ExpectedShipDate" />
                    <span asp-validation-for="@Model.ExpectedShipDate"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.Part" />
                    <span asp-validation-for="@Model.Part"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.PartDescription" />
                    <span asp-validation-for="@Model.PartDescription"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.CustomPartNum" />
                    <span asp-validation-for="@Model.CustomPartNum"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.QtyShipped" />
                    <span asp-validation-for="@Model.QtyShipped"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.PriceEach" />
                    <span asp-validation-for="@Model.PriceEach"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <div asp-validation-summary="ModelOnly"></div>
    <div style="text-align: center"><input class="btn btn-primary" type="submit" value="Create Open Order" /></div>
</form>