﻿@model Aztech.Models.Quote

@{
    ViewBag.Title = "Add Quote";
}

@section PageName{
    Add Quote User: @Model.AppUserId
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Add Quote</div>
<br />
<br />


<form asp-action="AddQuote" asp-controller="AddData" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>RFQ</th>
                <th>Ordered Date</th>
                <th>Part</th>
                <th>Part Description</th>
                <th>Qty</th>
                <th>Price Ea</th>
                <th>Customer Part#</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="hidden" asp-for="AppUserId" />
                    <input type="text" asp-for="RFQ" />
                    <span asp-validation-for="RFQ"></span>
                </td>
                <td>
                    <input type="text" asp-for="OrderedDate" />
                    <span asp-validation-for="OrderedDate"></span>
                </td>
                <td>
                    <input type="text" asp-for="Part" />
                    <span asp-validation-for="Part"></span>
                </td>
                <td>
                    <input type="text" asp-for="PartDescription" />
                    <span asp-validation-for="PartDescription"></span>
                </td>
                <td>
                    <input type="text" asp-for="Qty" />
                    <span asp-validation-for="Qty"></span>
                </td>
                <td>
                    <input type="text" asp-for="PriceEa" />
                    <span asp-validation-for="PriceEa"></span>
                </td>
                <td>
                    <input type="text" asp-for="CustomerPartNum" />
                    <span asp-validation-for="CustomerPartNum"></span>
                </td>
                <td>
                    <textarea asp-for="Notes" cols="20" rows="3"></textarea>
                    <span asp-validation-for="Notes"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div asp-validation-summary="ModelOnly"></div>
    <div style="text-align: center"><input class="btn btn-primary" type="submit" value="Create Quote" /></div>
</form>