﻿@model Aztech.ViewModels.AddData.AddShipmentViewModel

@{
    ViewBag.Title = "Add Shipment";
}

@section PageName {
    Add Shipment: User @Model.AppUserId
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Add Shipment</div>
<br />
<br />


<form method="post" asp-action="AddShipment">
    <table class="table">
        <caption style="text-align:center">Shipment Information</caption>
        <thead>
            <tr>
                <th>PO#</th>
                <th>Invoice</th>
                <th>ShipDate</th>
                <th>ShipTo</th>
                <th>ShipVia</th>
                <th>Tracking#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="hidden" asp-for="@Model.AppUserId" />
                    <select asp-for="SelectedPO" asp-items="@new SelectList(Model.AllPOKeys)"><option></option></select>
                    <span asp-validation-for="@Model.SelectedPO"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.Invoice" />
                    <span asp-validation-for="@Model.Invoice"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.ShipDate" />
                    <span asp-validation-for="@Model.ShipDate"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.ShipTo" />
                    <span asp-validation-for="@Model.ShipTo"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.ShipVia" />
                    <span asp-validation-for="@Model.ShipVia"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.TrackingNum" />
                    <span asp-validation-for="@Model.TrackingNum"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <br />
    <br />
    <table class="table">
        <caption style="text-align:center">Invoice Information</caption>
        <thead>
            <tr>
                <th>Invoice Date</th>
                <th>Due Date</th>
                <th>Invoice Amt</th>
                <th>Balance Due</th>
                <th>Ship To</th>
                <th>Ship Via</th>
                <th>Tracking#</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="text" asp-for="@Model.InvoiceDate" />
                    <span asp-validation-for="InvoiceDate"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.DueDate" />
                    <span asp-validation-for="DueDate"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.InvoiceAmt" />
                    <span asp-validation-for="InvoiceAmt"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.BalanceDue" />
                    <span asp-validation-for="BalanceDue"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.ShipTo" />
                    <span asp-validation-for="ShipTo"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.ShipVia" />
                    <span asp-validation-for="ShipVia"></span>
                </td>
                <td>
                    <input type="text" asp-for="@Model.TrackingNum" />
                    <span asp-validation-for="TrackingNum"></span>
                </td>
            </tr>
        </tbody>
    </table>


    <div style="text-align: center"><input style="margin-top: 5%" class="btn btn-primary" type="submit" value="Create Shipment" /></div>
    <div asp-validation-summary="ModelOnly"></div>
</form>