﻿@model Aztech.ViewModels.CustomerTables.InvoicesTableViewModel


@section PageName{
    Invoices UserId: @Model.AppUserId
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Invoices</div>
<br />
<br />


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Invoice</th>
            <th>PO#</th>
            <th>Invoice Date</th>
            <th>Due Date</th>
            <th>Invoice Amt</th>
            <th>Balance Due</th>
            <th>Ship To</th>
            <th>Ship Via</th>
            <th>Tracking#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Invoice invoice in Model.Invoices)
        {
            <tr>
                <td>@invoice.InvoiceNum</td>
                <td>@invoice.PONum</td>
                <td>@invoice.InvoiceDate</td>
                <td>@invoice.DueDate</td>
                <td>@invoice.InvoiceAmt</td>
                <td>@invoice.BalanceDue</td>
                <td>@invoice.ShipTo</td>
                <td>@invoice.ShipVia</td>
                <td>@invoice.TrackingNum</td>
            </tr>
        }
    </tbody>
</table>