﻿@model Aztech.ViewModels.CustomerTables.OpenOrdersTableViewModel


@section PageName {
    Open Orders UserId: @Model.CustomerProfile.AppUserId
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Open Orders</div>
<br />
<br />

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>PO#</th>
            <th>Sales Ord#</th>
            <th>Expected Ship Date</th>
            <th>Order Date</th>
            <th>Customer Part#</th>
            <th>Part</th>
            <th>Part Description</th>
            <th>Qty</th>
            <th>Price Ea</th>
            <th>Material Certificate</th>
            <th>Packing Slip</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Aztech.Models.OpenPartOrder order in Model.AllOrders)
        {
            <tr>
                <td>@order.PONum</td>
                <td>@order.SalesOrderNum</td>
                <td>@order.ExpectedShipDate</td>
                <td>@order.OrderDate</td>
                <td>@order.CustomPartNum</td>
                <td>@order.Part</td>
                <td>@order.PartDescription</td>
                <td>@order.QtyShipped</td>
                <td>@order.PriceEach</td>
                <td><a class="btn btn-sm btn-dark" asp-action="MaterialCertification" asp-controller="CustomerTables" asp-route-appUserId="@order.AppUserId">Cert</a></td>
                <td><a class="btn btn-sm btn-dark" asp-action="PackingSlip" asp-controller="CustomerTables" asp-route-appUserId="@order.AppUserId">Slip</a></td>
            </tr>
        }
    </tbody>
</table>