﻿@model Aztech.ViewModels.CustomerTables.PartsTableViewModel


@section PageName{
    UserId @Model.AppUserId Parts Activity
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Part Activity</div>
<br />
<br />


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Part</th>
            <th>Customer Part</th>
            <th>Part Description</th>
            <th>Last Ship Date</th>
            <th>Last PO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Part part in Model.parts)
        {
            <tr>
                <td>@part.PartName</td>
                <td>@part.CustomerNum</td>
                <td>@part.PartDescription</td>
                <td>@part.LastShipDate</td>
                <td>@part.LastPO</td>
            </tr>
        }
    </tbody>
</table>