﻿@model Aztech.ViewModels.CustomerTables.QuotesTableViewModel

@section PageName{
    Quotes UserId: @Model.AppUserId
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Quotes</div>
<br />
<br />


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Quote#</th>
            <th>RFQ</th>
            <th>Quote Date</th>
            <th>Ordered Date</th>
            <th>Part</th>
            <th>Part Description</th>
            <th>Qty</th>
            <th>Price Ea</th>
            <th>Customer Part#</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Quote quote in Model.Quotes)
        {
            <tr>
                <td>@quote.QuoteId</td>
                <td>@quote.RFQ</td>
                <td>@quote.QuoteDate</td>
                <td>@quote.OrderedDate</td>
                <td>@quote.Part</td>
                <td>@quote.PartDescription</td>
                <td>@quote.Qty</td>
                <td>@quote.PriceEa</td>
                <td>@quote.CustomerPartNum</td>
                <td>@quote.Notes</td>
            </tr>
        }
    </tbody>
</table>