﻿@model Aztech.ViewModels.CustomerTables.ShipmentsTableViewModel


@section PageName{
    Shipments UserId: @Model.AppUserId
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Shipments</div>
<br />
<br />


<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th id="ShippedParts"> </th>
            <th>PO#</th>
            <th>Invoice#</th>
            <th>Ship Date</th>
            <th>Ship To</th>
            <th>Ship Via</th>
            <th>Tracking#</th>
            <th>Sold To</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Aztech.Models.Shipment shipment in Model.Shipments)
        {
            <tr>
                <td><button class="btn btn-sm btn-dark" id="expan @shipment.ShipmentId" onclick="expand(@shipment.ShipmentId);">+</button></td>
                <td>@shipment.PONumber</td>
                <td><a class="btn btn-sm btn-dark" asp-action="InvoicePdf" asp-controller="CustomerTables" asp-route-invoiceId="@shipment.InvoiceId">@shipment.Invoice</a></td>
                <td>@shipment.ShipDate</td>
                <td>@shipment.ShipTo</td>
                <td>@shipment.ShipVia</td>
                <td>@shipment.TrackingNum</td>
                <td>@shipment.AppUserId</td>
            </tr>
            <tr id="@shipment.ShipmentId" style="display: none">
                @{
                    Dictionary<int, List<ShippedPartOrder>> partsMap = Model.ShippedPartsByShipmentId;
                }
                <td>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Part</th>
                                <th>Part Description</th>
                                <th>Part Customer#</th>
                                <th>Qty</th>
                                <th>Price Ea</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ShippedPartOrder part in partsMap[shipment.ShipmentId])
                            {

                                <tr>
                                    <td>@part.Part</td>
                                    <td>@part.PartDescription</td>
                                    <td>@part.CustomPartNum</td>
                                    <td>@part.QtyShipped</td>
                                    <td>@part.PriceEach</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var openPanels = 0;
    function expand(shipmentId) {
        let header = document.getElementById("ShippedParts");
        let expanBlock = document.getElementById(shipmentId);
        let expanButton = document.getElementById("expan " + shipmentId);
        if (expanBlock.style.display == "") {
            expanBlock.style.display = "none";
            expanButton.textContent = "+";
            if (openPanels > 0) {
                openPanels--;
            }
        }
        else {
            expanBlock.style.display = "";
            expanButton.textContent = "-";
            openPanels++;
        }
        if (openPanels > 0) {
            header.textContent = "Shipped Parts";
        }
        else {
            header.textContent = " ";
        }

    }
</script>