﻿@model Aztech.ViewModels.Account.User

@{
    Layout = null;
}


@*@section PageName{

}
<div class="jumbotron">
    <form style="margin-left: 40%" method="post" asp-action="Login" asp-controller="Account">
        <div>
            <label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> &nbsp;&nbsp;&nbsp;&nbsp;<input type="text" asp-for="Email" />
            <span asp-validation-for="@Model.Email"></span>
        </div>
        <br />
        <div>
            <label>Password</label> &nbsp;&nbsp;<input type="password" asp-for="Password" />
            <span asp-validation-for="@Model.Password"></span>
        </div>
        <input class="btn btn-primary" style="margin-left: 13%; margin-top: 2%" type="submit" value="Login" />
        <div asp-validation-summary="ModelOnly"></div>
    </form>

    <br /><br /><br />
    <a asp-action="CustomerCreate" asp-controller="NewCustomer" style="color: black; margin-left: 45%">Create Account</a>
</div>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Login</title>
    <!-- Custom fonts for this template-->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="../css/sb-admin.css" rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form method="post" asp-action="Login" asp-controller="Account" id="LoginForm">
                    <div class="form-group">
                        <div class="form-label-group">
                            <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email Address"  autofocus="autofocus">
                            <label id="labelEmail" for="inputEmail">Email address</label>
                            <span asp-validation-for="@Model.Email"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" asp-for="Password" class="form-control" placeholder="Password" \>
                            <label for="inputPassword" id="labelPassword">Password</label>
                            <span asp-validation-for="@Model.Email"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            @*<label>
                                <input type="checkbox" value="remember-me">
                                Remember Password
                            </label>*@
                        </div>
                    </div>
                    <a class="btn btn-primary btn-block text-white" onclick="document.getElementById('LoginForm').submit();">Login</a>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" asp-action="CustomerCreate" asp-controller="NewCustomer" >Create an Account</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery-easing/jquery.easing.min.js"></script>


    <script>
        let inputEmail = document.getElementById('inputEmail');
        inputEmail.addEventListener('keydown', function () { document.getElementById('labelEmail').textContent = ''; });

        let inputPassword = document.getElementById('inputPassword');
        inputPassword.addEventListener('keydown', function () { document.getElementById('labelPassword').textContent = ''; });
    </script>
</body>
</html>


