﻿
@model Aztech.Models.AppUser
@{
    ViewBag.Title = "Add Customer";
}


@section PageName{
    Add Customer
}


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="display-4" style="text-align: center">Create Customer</div>
<br />
<br />


<div style="margin-left:20%">

    <form method="post" asp-action="AddCustomer">
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Company</th>
                <th>RepId</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>
                    <input type="text" asp-for="FirstName" />
                    <span asp-validation-for="FirstName"></span>
                </td>
                <td>
                    <input type="text" asp-for="LastName" />
                    <span asp-validation-for="LastName"></span>
                </td>
                <td>
                    <input type="text" asp-for="Company" />
                    <span asp-validation-for="Company"></span>
                </td>

                <td>
                    <input type="text" asp-for="RepId" />
                    <span asp-validation-for="RepId"></span>
                </td>
                <td>
                    <input type="text" asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </td>
                <td>
                    <input type="hidden" asp-for="Password" value="Default" />
                </td>


        </table>

        <input type="hidden" asp-for="Type" />
        <input style="margin-left: 35%; margin-top: 5%" class="btn btn-primary" type="submit" value="Submit" />
    </form>
</div>