﻿
@model Aztech.Models.AppUser
@{
    ViewBag.Title = "Add Customer";
}


@section PageName{
    Create Account
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div style="margin-left: 40%">

    <form method="post" asp-action="CustomerCreate">
        <div class="card card-login">
            <div class="card-header" style="text-align: center">Create Account</div>
            <div class="card-body">
                <input type="text" asp-for="FirstName" placeholder="First Name" class="form-control"/>
                <span asp-validation-for="FirstName"></span>
                <br />

                <input type="text" asp-for="LastName" class="form-control"  placeholder="Last Name" />
                <span asp-validation-for="LastName"></span>
                <br />

                <input type="text" asp-for="Company" class="form-control"  placeholder="Company" />
                <span asp-validation-for="Company"></span>
                <br />

                <input type="text" asp-for="Email" class="form-control"  placeholder="Email" />
                <span asp-validation-for="Email"></span>
                <br />

                <input type="hidden" asp-for="Password" value="Default" />


                <input type="hidden" value="-1" asp-for="RepId" />
                <input type="hidden" asp-for="Type" />
            </div>
            <div style="text-align: center"><input class="btn btn-primary" type="submit" value="Submit" /></div>
            <br />
        </div>
    </form>
</div>