﻿@model Aztech.ViewModels.CustomerModifyAccount.CustomerUpdateViewModel

@{ 
    ViewBag.Title = "Modify Account"; 
}

@section PageName {
    Update Account Information
}


<div class="jumbotron">
    <form style="margin-left: 40%" method="post" asp-action="ModifyAdminAccount">
        <div>
            <label>First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> &nbsp;&nbsp;
            <input type="text" asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <br />
        
        <div>
            <label>Last Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>
        
        <br />
        
        <div>
         
            <input type="hidden" asp-for="Company" value="Default" />
        </div>
        
        <br />
        
        <div>
            <label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email"></span>
        </div>

        <br />

        <div>
            <label>&nbsp;Old Password</label> &nbsp;&nbsp;
            <input type="password" asp-for="OldPassword" />
            <span asp-validation-for="OldPassword"></span>
        </div>

        <br />

        <div>
            <label>New Password</label> &nbsp;&nbsp;
            <input type="password" asp-for="NewPassword" />
            <span asp-validation-for="NewPassword"></span>
        </div>

        <br /><br /><br />

        <input style="margin-left: 10%" class="btn btn-primary" type="submit" value="Save Changes" />
        <div asp-validation-summary="ModelOnly"></div>
    </form>
</div>